html, body {
    width:100%;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

ion-icon {
    color: #4f8a8b;
}

a {
    color: #4f8a8b;
    text-decoration: none;
}

h2 {
    color: #4f8a8b;
}
.top-bar {
    overflow: hidden;
    height: 100px;
    background-color: #f4f6ff;
}
.main {
    max-width: 500px;
    margin: 0 auto;
}

.card {
    border-style: solid;
    border-width: 1px;
    margin: 20px 0px;
    padding: 20px 30px;
    border-radius: 5px;
}

.right {
    float: right;
}